* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Ubuntu', sans-serif;
}

/*----------------------*/
.header {
    overflow: hidden;
    background-color: #5800e6;
    padding: 20px 10px;
}

.header a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 20px;
    border-radius: 4px;
    margin: 0px 5px;
}
  
.header img.logo {
    width: 130px;
    margin-left: 10px;
}
  
.header a:hover {
    background-color: #fff;
    color: #5800e6;
}
  
.header a.active {
    background-color: #fff;
    color: #5800e6;
}
  
.header-right {
    float: right;
}
  
@media screen and (max-width: 700px) {
    .header img.logo {
        width: 130px;
        margin-left: 10px;
        margin-bottom: 5px;
    }

    .header a {
        float: none;
        display: block;
        text-align: center;
        margin: 5px 0px;
    }
    
    .header-right {
        float: none;
    }
}
/*----------------------*/

/*
nav {
    background: #5800e6;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 90px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 10px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

a.active,a:hover {
    background: #fff;
    color: #5800e6;
    transition: .5s;
}

.checkbtn {
    font-size: 70px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media only screen and (max-width: 1035px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 1500px;
        background: #36018b;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin: 10px 0px;
        padding: 20px 0px;
        line-height: 30px;
        font-size: 20px;
    }

    nav ul li:hover {
        background: #fff;
        display: block;
        line-height: 30px;
        color: #5800e6;
        font-size: 25px;
    }
    
    a:hover {
        background: none;
        color: #5800e6;
        font-size: 25px;
    }

    a.active {
        background: none;
        color: #fff;
        font-size: 25px;
        border: 1px solid #fff;
        padding-left: 20px;
        padding-right: 20px;
    }

    a.active:hover {
        background: none;
        color: #5800e6;
        font-size: 25px;
        border: 1px solid #fff;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

@media only screen and (max-width: 370px) {
    label.logo {
        font-size: 25px;
        padding-left: 20px;
    }
}
*/

/*COLOR CHECK, RANGE*/

.footer {
    grid-area: footer;
    text-align: right;
}


/*Home*/

.logoA {
    display: block;
    width: 300px;
    height: auto;
}

.logohome {
    width: 100%;
}

.deskripsi {
    display: block;
    border: 3px solid #5800e6;
    line-height: 30px;
    margin: 20px 50px;
}

.homeContent {
    width: 100%;
    height: auto;
    padding: 15px;
}

.homeContent div {
    padding: 40px 30px;
}

@media only screen and (max-width: 430px) {
    .logoA {
        width: 80%;
    }

    .deskripsi {
        margin: 20px 30px;
    }

    .homeContent div {
        padding: 20px 15px;
    }
}


/*Color Check*/

.colorp {
    height: 30px;
    width: 130px;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin-top: 5px;
}

.colorp:hover {
    border: 3px solid #5800e6;
}

.code {
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
	padding: 6px;
    height: 30px;
    width: 130px;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin-top: 5px;
}

.code:hover {
    border: 1px solid #5800e6;
}

.codeGoBtn {
    background: #fff;
    color : #5800e6;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
    height: 30px;
    width: 65px;
    border: 1px solid #5800e6;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}

.codeGoBtn:hover {
    background: #5800e6;
    color : #fff;
    font-size: 12px;
    transition: .5s;
}

.codeCopyBtn {
    background: #5800e6;
    color : #fff;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
	padding: 6px;
    height: 30px;
    width: 60px;
    border: 1px solid #5800e6;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 5px;
}

.codeCopyBtn:hover {
    background: #fff;
    color : #5800e6;
    font-size: 12px;
    transition: .5s;
}

.TB {
    background: #fff;
    grid-area: ToolB;
    padding: 10px;
    text-align: center;
    height: 200px;
}

.TF {
    background: #fff;
    grid-area: ToolF;
    padding: 10px;
    text-align: center;
    height: 200px;
}

.TI {
    grid-area: TextInput;
    padding: 10px;
}

.CCtutor {
    grid-area: TutorCC;
    padding: 10px;
}

.CCtutor table {
    border: none;
    width: 100%;
    margin: 5px;
}

.CCtutor table tr td {
    vertical-align: top;
    padding: 5px;
}

.CCtutor p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.colorpp {
    height: 20px;
    width: 60px;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin-top: 0px;
}

#textInput {
    background: transparent;
    color: #5800e6;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
	padding: 10px;
    outline: none;
    border: none;
    text-align: center;
    resize: none;
    height: 173px;
    width: 100%;
}

#textInput:hover {
    outline: 3px solid #5800e6;
}

#textInput:focus {
    outline: 3px solid #5800e6;
}

.CCContent {
    display: grid;
    grid-template-columns: 155px auto;
    grid-template-rows: 200px 200px 90px 30px;
    grid-template-areas:
        'ToolB TextInput'
        'ToolF TutorCC'
        'ToolF TutorCC'
        'footer footer';
    grid-gap: 10px;
    width: 100%;
    height: 565px;
    padding: 15px;
}

.TB, .TF, .TI, .CCtutor {
    border: 1.5px solid #ededed;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .TB { 
        padding: 5px;
        height: 150px;
    }
    
    .TF {
        padding: 5px;
        height: 150px;
    }

    .footer {
        text-align: center;
    }

    .CCContent {
        grid-template-columns: auto auto;
        grid-template-rows: 150px 200px 350px 30px;
        grid-template-areas:
            'ToolB ToolF'
            'TextInput TextInput'
            'TutorCC TutorCC'
            'footer footer';
        padding: 5px;
        height: 800px;
    }
}

@media only screen and (max-width: 480px) {
    .CCContent {
        height: 860px;
    }
}

@media only screen and (max-width: 400px) {
    .CCContent {
        grid-template-rows: 150px 200px 400px 30px;
        height: 860px;
    }
}

@media only screen and (max-width: 350px) {
    .colorp {
        width: 100px;
    }
    
    .code {
        width: 100px;
    }
    
    .codeGoBtn {
        width: 100px;
    }
    
    .codeCopyBtn {
        width: 100px;
    }
    
    .TB {
        background: #fff;
        grid-area: ToolB;
        padding: 10px;
        text-align: center;
        height: 200px;
    }
    
    .TF {
        background: #fff;
        grid-area: ToolF;
        padding: 10px;
        text-align: center;
        height: 200px;
    }

    #textInput {
        font-size: 30px;
    }

    .CCContent {
        grid-template-rows: 200px 200px 450px 30px;
        height: 860px;
    }
}

@media only screen and (max-width: 305px) {
    .CCContent {
        grid-template-rows: 200px 200px 500px 30px;
        height: 900px;
    }
}


/*COLOR*/

.tableColor {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 10px;
}

.tableColor div {
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}

@media only screen and (max-width: 900px) {
    .tableColor {
        grid-template-columns: auto auto auto auto auto;
    }
}

@media only screen and (max-width: 700px) {
    .tableColor {
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width: 430px) {
    .tableColor {
        grid-template-columns: auto;
    }
}


/*RANGE*/

.RB {
    background: #fff;
    grid-area: RangeB;
    height: 200px;
    padding: 10px 10px;
    text-align: center;
    height: 200px;
}

.RF {
    background: #fff;
    grid-area: RangeF;
    height: 200px;
    padding: 10px 10px;
    text-align: center;
}

.range {
    -webkit-appearance: none;
    width: 130px;
    height: 10px;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    opacity: 0.7;
    z-index: 1;
    margin-top: 10px;
}

.range:hover {
    opacity: 1;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border: 1.5px solid #000;
    border-radius: 20%;
    background: #fff;
    cursor: pointer;
}

#colorOutputF {
    font-size: 15px;
}

#colorOutputB {
    font-size: 15px;
}

.Rtutor {
    grid-area: TutorR;
    padding: 10px;
}

.Rtutor table {
    border: none;
    width: 100%;
    margin: 5px;
}

.Rtutor table tr td {
    vertical-align: top;
    padding: 5px;
}

.Rtutor p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.rangeContent {
    display: grid;
    grid-template-columns: 155px auto;
    grid-template-rows: 200px 200px 90px 30px;
    grid-template-areas:
        'RangeB TextInput'
        'RangeF TutorR'
        'RangeF TutorR'
        'footer footer';
    grid-gap: 10px;
    width: 100%;
    height: 565px;
    padding: 15px;
}

.RB, .RF, .TI, .Rtutor {
    border: 1.5px solid #ededed;
    border-radius: 5px;
}

@media only screen and (max-width: 700px) {
    .RB { 
        padding: 5px;
        height: 150px;
    }
    
    .RF {
        padding: 5px;
        height: 150px;
    }

    .footer {
        text-align: center;
    }

    .rangeContent {
        grid-template-columns: auto auto;
        grid-template-rows: 150px 200px 350px 30px;
        grid-template-areas:
            'RangeB RangeF'
            'TextInput TextInput'
            'TutorR TutorR'
            'footer footer';
        padding: 5px;
        height: 800px;
    }
}

@media only screen and (max-width: 480px) {
    .rangeContent {
        height: 860px;
    }
}

@media only screen and (max-width: 400px) {
    .rangeContent {
        grid-template-rows: 150px 200px 400px 30px;
        height: 860px;
    }
}

@media only screen and (max-width: 350px) {
    #textInput {
        font-size: 30px;
    }

    .rangeContent {
        grid-template-rows: 150px 200px 450px 30px;
        height: 860px;
    }
}

@media only screen and (max-width: 305px) {
    .rangeContent {
        grid-template-rows: 150px 200px 500px 30px;
        height: 900px;
    }

    .range {
        width: 100px;
    }
}


/*ABOUT*/

.foto-profil {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.b1, .b2, .b3, .a1, .a2, .a3 {
    position: relative;
    width: 200px;
}

.b1:hover .overlay, .b2:hover .overlay, .b3:hover .overlay, .a1:hover .overlay, .a2:hover .overlay, .a3:hover .overlay {
    opacity: 1;
}

.b1 { 
    grid-area: Fpakdjuniadi;   
}

.b2 { 
    grid-area: Fpakahmad;
}

.b3 { 
    grid-area: Fbufitria;
}

.a1 { 
    grid-area: Faldy;
}

.a2 { 
    grid-area: Fbirawa;
}

.a3 { 
    grid-area: Ftegar;
}

#footer-about {
    text-align: center;
    color: #5800e6;
    font-weight: bold;
    padding: 20px;
}

.about {
    display: grid;
    justify-content: space-evenly;
    align-content: space-around;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        'Fpakdjuniadi Fpakahmad Fbufitria'
        'Faldy Fbirawa Ftegar';
    grid-gap: 10px;
    width: 100%;
    height: 570px;
    padding: 20px;
}

@media only screen and (max-width: 850px) {
    .about {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto 40px;
        grid-template-areas:
            'Fpakdjuniadi'
            'Fpakahmad'
            'Fbufitria'
            'Faldy'
            'Fbirawa'
            'Ftegar'
            'footer';
        height: 1500px;
        padding: 30px;
        grid-gap: 30px;
    }

    .about div h3 {
        margin-top: 10px;
    }
}
